
  
  body {
    font-family: serif;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('https://cdn.pixabay.com/photo/2017/08/06/22/01/books-2596809_640.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    opacity: inherit;
    
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  /* NAVBAR STYLING STARTS */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(194, 192, 194);
    color: #fff;
  }
  
  .nav-links a {
    color: #fff;
  }
  
  /* LOGO */
  .logo {
    font-family:serif;
    font-size: 50px;
  
  }
  
  /* NAVBAR MENU */
  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  
  .menu li:hover {
    background-color: #5a9e4c;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  .menu li {
    padding: 5px 14px;
  }
  
  .dropdown li + li {
    margin-top: 10px;
  }
  
  .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
  }
  
  .course:hover .dropdown {
    display: block;
  }
  .Syllabus:hover .dropdown {
    display: block;
  }
  
  /* RESPONSIVE NAVBAR MENU STARTS */
  
  /* CHECKBOX HACK */
  
  input[type=checkbox] {
    display: none;
  } 
  
  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: auto;
  }
  
  
  
   /* Welcome message */
   body {
    font-family:serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  .container {
    position:absolute;
    top: 50%;
    transform :translateY(-50%);
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  .intro {
    text-align:center;
    padding: 50px 0;
    background-color:transparent;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  h1 {
    font-size: 36px;
    color:white;
    margin-bottom: 20px;
  
  }
  p {
    font-size: 18px;
    color:white;
    line-height: 1.6;
  }
  a {
    background-color:rgb(4, 107, 13);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-content:space-between;
  }
  button:hover {
    background-color: #1dbd0b;
  }
  
  
  /* DROPDOWN MENU */
  .course.course:hover{
    position: relative; 
  }
  
  .dropdown {
    background-color: rgb(1, 139, 12);
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
  }
  
  .dropdown li + li {
    margin-top: 10px;
  }
  
  .dropdown li {
    padding: 0.5em 1em;
    width: 10em;
    text-align: center;
  }
  
  .dropdown li:hover {
    background-color: #7ceb14;
  }
  
  .Course.Course:hover .dropdown {
    display: block;
  }
  /* RESPONSIVE NAVBAR MENU STARTS */
  
  /* CHECKBOX HACK */
  
  input[type=checkbox]:checked ~ .menu {
    display: none;
  } 
  
  /* APPLYING MEDIA QUERIES */
  @media (max-width: 768px) {
   .menu {
      display:none;
      position: absolute;
      background-color:rgba(10, 194, 26, 0.616);
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
  
    .menu li:hover {
      display: inline-block;
      background-color:#16770dcc;
      transition: 0.3s ease;
    }
  
    .menu li + li {
      margin-top: 12px;
    }
  
    input[type=checkbox]:checked ~ .menu {
      display: block;
    }
    
    .dropdown {
      left: 70%;
      top: 50px;
      transform: translateX(35%);
    }
  
    .dropdown li:hover {
      background-color: #16770dcc;
    }
  }
 
  